apiVersion: v1
kind: Secret
metadata:
  name: fproject-backend-secret
  namespace: default
type: Opaque
data:
  # Base64 encoded values
  # DB_PASSWORD: test1234 -> dGVzdDEyMzQ=
  DB_PASSWORD: dGVzdDEyMzQ=
  # GOOGLE_CLIENT_SECRET: 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 -> R09DU1BYLURsQWRDLUlRQkZWZnYwVFBwZll0VFkxTGZHYWs=
  GOOGLE_CLIENT_SECRET: R09DU1BYLURsQWRDLUlRQkZWZnYwVFBwZll0VFkxTGZHYWs=
