apiVersion: v1
kind: Service
metadata:
  name: fproject-backend-service
  namespace: default
  labels:
    app: fproject-backend
spec:
  type: LoadBalancer
  ports:
  - port: 80
    targetPort: 3001
    protocol: TCP
    name: http
  selector:
    app: fproject-backend
